h1 {
	@extend %govuk-heading-xl;
}

h2 {
	@extend %govuk-heading-l;
}

h3 {
	@extend %govuk-heading-m;
}

h4,
h5,
h6 {
	@extend %govuk-heading-s;
}

p {
	@extend %govuk-body-m;
}

strong,
b {
	@include govuk-typography-weight-bold;
}

ul,
ol {
	@extend %govuk-list;

	&.is-style-spaced,
	&.is-style-no-bullet-spaced {
		@extend %govuk-list--spaced;

		ul,
		ol {
			margin-bottom: govuk-spacing(1);
			margin-top: govuk-spacing(1);

			@include govuk-media-query($from: tablet) {
				margin-bottom: govuk-spacing(2);
				margin-top: govuk-spacing(2);
			}
		}
	}

	&.is-style-no-bullet,
	&.is-style-no-bullet-spaced {
		list-style-type: none;
		padding-left: 0;
	}

	ul,
	ol {
		margin-top: 0;
		margin-bottom: 0;

    	@include govuk-media-query($from: tablet) {
      		margin-bottom: govuk-spacing(1);
			margin-top: govuk-spacing(1);
    	}
	}
}

ol {
	@extend %govuk-list--number;
}

ul {
	@extend %govuk-list--bullet;
}

a {
	@extend %govuk-link;
}

table {
	@extend %govuk-body-m;
}


blockquote {
	@extend .govuk-inset-text;
	margin-left: unset;
	margin-right: unset;

	cite {
		font-style: normal;
		font-weight: 700;
		color: inherit;
		font-size: inherit;
		position: static;
		line-height: inherit;
	}
}

::placeholder {
	color: $placeHolderColour;
}