$govuk-compatibility-govuktemplate: true;
$govuk-use-legacy-palette: false;

$govuk-images-path: "../build/node_modules/govuk-frontend/govuk/assets/images/";
$govuk-fonts-path: "../build/node_modules/govuk-frontend/govuk/assets/fonts/";
@import "govuk-frontend/govuk/all";

.hallo-editor {
  @import "common/variables";
  @import "common/mixins";
  @import "common/common";
  @extend .entry-content;

  a {
    text-decoration: underline;
  }

  ul {
    list-style: disc;
    margin-left: 2em;
  }

  table {
    max-width: 620px;
  }
}

label.setting[data-setting="alt"] {
    ::after {
        content: " (should convey what point the image is making)";
    }
}
