#user-satisfaction-survey {
  /**
   * Hidden by default as we only want to show it to users who have
   * JavaScript enabled.
   */
  //display: none;
  background-color: #2B358B;
  padding: 0.5em 0;
  color: #fff;

  &.visible {
    @media(desktop) {
      display: block;
    }
  }

  .wrapper {
    margin: 0 auto;
    max-width: 990px;
    clear: both;
    padding: 0 15px;

    h1 {
     // @include bold-19;
     margin-top: 20px;
      margin-left: 20px;
    }

    p {
      //@include core-14;

      margin: 0 0 0 20px;

      a {
        &:link,
        &:active,
        &:visited {
          color: #fff;
        }

        &:hover {
          color: #fff;
        }

        &#take-survey {
        //  @include core-19;

          padding-right: 5px;
        }
      }

      &.right {
        float: right;
        margin: -20px 20px 0 0;

        //@include ie-lte(7) {
        //  margin-top: -25px;
        //}
      }
    }
  }
}
