.btn,
.btn:visited {
  display: inline;
  border: none;
  text-decoration: none;
  position: relative;
  line-height: (20 / 16);
  padding: 8px 16px;
  cursor: pointer;
  background-image: none;
  text-shadow: none;
  box-shadow: none;
}

.btn-secondary,
.btn,
.btn:visited {
  background-color: @blueDark;
  color: #fff;
  .border-radius(0px);
  font-weight: 400;
  overflow: visible;
  .font-size(16px, 16px, 16px);
}

.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary-active,
.btn:active,
.btn:focus,
.btn-active{
  background-color: darken(@blueDark, 10%);
}

.btn-secondary .btn:hover,
.btn-secondary .btn-hover,
.btn:hover,
.btn-hover {
  background-color: darken(@blueDark, 10%);
}

.btn:active,
.btn-active {
  top: 0px;
  box-shadow:none;
  outline:none;
}

/* 
 * making a click target which is bigger than the btn 
 * (and fills the space made when the btn moves) 
 */
.btn:before {
  content: "";
  height: 110%;
  width: 100%;
  display: block;
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
}

.btn:active:before {
  top: -10%;
  height: 120%;
}

a.btn[rel="external"]:after {
  display: none;
  content: none;
  margin-left: 0;
  margin-right: 0;
}

input{
  &[disabled="disabled"] {
    opacity: 0.5;
  }

  &[type="text"],
  &[type="search"]{

  }
}

#commentform {
  input[type="submit"] {
    margin-top: 10px;
    @media (max-width: @mobileMaxWidth) {
      width: 100%;
    }
  }
  input[type="text"],
  input[type="email"],
  input[type="url"] {
    @media (max-width: @mobileMaxWidth) {
      width: 97%;
    }
    @media (max-width: @mobileSmallWidth) {
      width: 96%;
    }
  }
}

.page-numbers-container {
  border-top: @greyTopBorder;
  margin-top: 0px;
  padding-top: 35px;
  overflow: hidden;

  @media (max-width: @mobileMaxWidth) {
    padding-top: 25px;
  }
  
  a:hover .page-numbers {
    text-decoration: underline;
  }
  
  .arrow {
    width: 45%;
    padding: 10px 0px;

    &:hover {
      background-color: #e7e7e7;
    }
    
    span.contain {
      padding-top: 10px;
      display: inline-block;
    }
    
    .arrow-button {
      display: inline-block;
      background: url('../assets/img/arrow-sprite.png') no-repeat;
      width: 30px;
      height: 50px;
      margin: 0px 5px;
    }

    .lte-ie7 & {
      cursor: pointer;

      .link {
        line-height: 1.2em;
      }
    }
  }

  .page-numbers {
    display: block;
    font-size: 14px;
    font-size: 1.4rem;
    width: 100%;

    .lte-ie7 & {
      width: 200px;
    }
  }
  
  .link {
    display: block;
    font-size: 27px;
    font-size: 2.7rem;
    width: 100%;

    .lte-ie7 & {
      width: 200px;
    }
  }

  .next {
    width: 48%;
    float: right;
    
    span.contain {
      float: right;
    }
    
    .link {
      width: 86%;
      display: inline-block;
      margin-right: 2%;
      font-size: 19px;
      font-size: 1.9rem;
      text-align: right;
    }

    .page-numbers {
      text-align: right;
    }
    
    .arrow-button {
      width: 35px;
      height: 45px;
      display: inline-block;
      float: right;
      background: url('../assets/img/arrow-sprite.png') no-repeat top right;
    }
  }

  .previous {
    width: 48%;
    float: left;

    span.contain {
      float: left;
    }
    
    .link {
      width: 86%;
      display: inline-block;
      margin-left: 2%;
      font-size: 19px;
      font-size: 1.9rem;
      text-align: left;
    }

    .page-numbers {
      text-align: left;
    }
    
    .arrow-button {
      width: 35px;
      height: 45px;
      display: inline-block;
      background: url('../assets/img/arrow-sprite.png') no-repeat top left;
      float: left;
    }
  }

  @media (max-width: @tabletMaxWidth) {
      
      .previous,
      .next {
        .link {
          width: 80%;
          font-size: 20px;
          font-size: 2rem;
        }
      }
  }
  
  @media (max-width: @mobileMaxWidth) {

      .previous,
      .next {
        .link {
          font-size: 15px;
          font-size: 1.5rem;
        }
      }
  }

  @media (max-width: 445px) {

      .previous,
      .next {
        .link {
          width: 75%;
        }
      }
  }

  @media (max-width: 360px) {

      .previous,
      .next {
        .link {
          width: 70%;
        }
      }
  }
}

