#comments {
  margin-top: 50px;
}

.bypostauthor {
  .comment-body {
    background: #f0f0f0;
    padding: 20px;
  }
  ul {
    .comment-body {
      background: #fff;
      padding: 0px;
    }
  }
}

.comments, .leave-a-comment {
  h3 {
    .font-size(19px, 19px, 16px);
  }
}

.comments {
  .media-body {
    .font-size(16px, 16px, 13px);
  }

  .media-heading {
    .font-size(16px, 16px, 13px);

    .author {
      .font-size(19px, 19px, 16px);
    }
  }

  ul.comment {
    margin: 0;
  }

  li.comment {
    margin: 25px 0px;

    p:last-child {
      margin-bottom: 0px;
    }
  }

  li.comment li.comment {
    padding-left: 20px;
    border-left: 4px solid #231f20;
  }
}

p.media-heading {
  time {
    color: #919496;
  }

  .divider {
    color: #919496;
  }
}
