form#commentform {

  label[for="email"] {
    padding-bottom: 0;
  }

  textarea {
    width: 100%;
  }

  input[type="text"],
  input[type="email"] {
    width: 50%;

    @media (max-width: @mobileMaxWidth) {
      width: 100%;
    }
  }

  input[type="submit"] {
    margin: 0;
  }
}

#respond h3 {
  float: left;
  margin-top: @gutter;

  @media (max-width: @mobileMaxWidth) {
    float: none;
  }
}

.comments, .leave-a-comment {

  p.cancel-comment-reply {
    float: right;
    margin: 35px 0 0 0;
    padding: 0;

    @media (max-width: @mobileMaxWidth) {
      float: none;
      margin-top: 0;
      margin-bottom: @gutterHalf;
    }
  }
}

.comments {

  .media-list {
    margin: 0;
    padding-left: 0;
  }

  .media-heading {
    margin-bottom: @gutterHalf;
    .font-size(16px, 16px);
    .line-height(20 / 16, 20 / 16);

    .author {
      font-weight: 700;
    }

    time {
      color: @greyText;
    }
  }

  .comment-body {

    p {
      margin-bottom: @gutterHalf;
    }
  }

  .comment-links {
    margin-top: @gutterHalf;
    padding-left: 0;
    list-style: none;
    .font-size(16px, 16px);
    .line-height(20 / 16, 20 / 16);

    li {
      display: inline-block;
      margin-left: @gutter;

      &:first-child {
        margin-left: 0;
      }

      @media (max-width: @mobileMaxWidth) {
        display: block;
        margin-left: 0;
      }
    }
  }

  ul.comment {
    margin-top: @gutter;
    margin-bottom: 0;
    padding-left: 0;

    &.depth-1 {
      padding-left: @gutter;
      border-left: 4px solid @border;
    }
  }

  li.comment {
    margin: @gutter 0 0 0;

    &:first-child {
      margin-top: 0;
    }
  }

  .comment-reply-link, {
    margin-top: @gutterHalf;
    display: inline-block;
    font-weight: 700;
  }
}

.alert {
  padding: @gutterHalf;
  border: none;
  border-left: 4px solid @border;
  background-color: @panelColour;
  text-shadow: none;
  color: @black;
  .border-radius(0);
}
