body {
  font-family: 'nta', 'helvetica', 'arial';
}

.no-js .hide-if-no-js {
  display: none;
}

.clear {
  clear: both;
}

.full-width {
  @media (max-width: @mobileMaxWidth) {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.read-more {
  font-weight: bold;
}

article {
  word-wrap: break-word;
  
  header {

    .byline {
      font-size: 14px;
      font-size: 1.4rem;
      margin-bottom: 20px;
    }

    .wp-post-image {
      margin-bottom: 20px;
    }
  }

  time {
    color: @greyText;
  }

  footer {
    .font-size(16px, 16px, 13px);

    &.single {
      .font-size(14px, 14px, 12px);
      margin-top: 35px;
    }
  }
}

.entry-summary, .entry-content {
  margin: 0px 0px 15px 0px;
}

iframe.coveritlive {
  width: 100%;
  max-width: 100%;
  height: 500px;
}

.main-content article {
  border-top: @greyTopBorder;
  padding: 20px 0px 35px 0px;
}

body.single .main-content article {
  border-bottom: none;
  padding-bottom: 0px;
}

.alignright {
  float: right;
  margin: 0px 0px 20px 20px;
}

.alignleft {
  float: left;
  margin: 0px 20px 20px 0px; 
}

.aligncenter {
  margin: auto;
  clear: both;
}

.page .main-content {
  border-top: @greyTopBorder;
  padding: 15px 0px;
}

figure, figure.thumbnail {
  background-color: #e1e8e8;
  border: solid 1px #bbb;
  -webkit-box-shadow: none;
  box-shadow: none;
  -moz-box-shadow: none;
  margin-bottom: 0.75em;
}

figcaption {
  margin-top: 5px;
  font-size: 1.6rem;
}

.thumbnail {
  border-radius: 0px;
  -webkit-border-radius: 0px;
}

.thumbnail .caption {
  color: #0b0c0c;
  text-align: center;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  font-size: 19px;
  font-size: 1.9rem;
  line-height: 25px;
  font-weight: 400;
  text-transform: none;
  padding-top: 7px;
  padding-top: 0.7rem;
  padding-bottom: 3px; 
  padding-bottom: 0.3rem; 
  margin-bottom: 20px;
}

table th, table td {
  vertical-align: top;
  line-height: 1.3em;
  padding: 0.7em 0.5em 0.7em 1em; 
}

table tr:nth-child(even) td {
  background-color: #fff; 
}

table td {
  background: #fafafa;
  border: dotted 1px #bbb; 
}

table th {
  line-height: 1.25em;
  text-align: left;
  color: #000;
  font-weight: normal;
  background-color: #e1e8e8;
  border: solid 1px #bbb; 
}

table td small {
  font-size: 1em; 
}

.address {
  border-left: 1px solid #bfc1c3;
  padding-left: 15px; 
  margin-bottom: 0.75em;
}


/* Fix to increase the margin to the left of the sidebar */

.sidebar-contain, .subscribe, .search-container, .logo-container {
  margin-left: 30px;
  width: 290px;
}

@media (max-width: 979px) and (min-width: 768px) {
  .sidebar-contain, .subscribe, .search-container {
    width: 218px;
  }
}

@media (max-width: 767px) {
  .sidebar-contain, .subscribe, .search-container {
    width: 100%;
    margin-left: 0px;
  }
}

/* Search */

.form-search {
    position: relative;
    max-width: 350px;

    input.search-query {
      border-color: @greyText;
      border-radius: 0;
      width: 90%;
      position: absolute;
      color: @greyText;

      .lte-ie6 & {
        position: static;
      }

      .lte-ie8 & {
        width: 95%;
      }
    }

    input[type="submit"] {
      width: 28px;
      height: 20px;
      box-shadow: none;
      background: url(../assets/img/search.png) no-repeat center center #fff;
      text-indent: -10000px;
      position: absolute;
      top: 5px;
      right: 6px;

      &:active, &:hover {
        top: 8px;
      }
    }

  }
  
.avatar img {
  float: right;
}

.subscribe {

  ul {
    margin: 0;
  }

  li {
    list-style: none;
    font-size: 16px;
    .font-size(1.6rem, 1.3rem, 1.3rem);
    float: left;
    margin-left: 18px;

    &:first-child {
      margin-left: 0;
    }
  }

  .atom a {
    padding-left: 18px;
    background: url(../assets/img/icon-atom.png) no-repeat left 1px;
  }

  .email a {
    padding-left: 25px;
    background: url(../assets/img/icon-email.png) no-repeat left 1px;
  }

}

.social-buttons {
  ul {
    margin: 0;
  }

  li {
    list-style: none;
    float: left;
  }
}

.bar {
  border-top: 10px solid #57da95;
}
