#footer {
  font-size: 16px;

  .footer-meta {
    li {
      font-size: inherit;

      .lte-ie8 & {
        font-size: 16px;
      }
    }

    a {
      text-decoration: underline;
    }
  }

  .footer-meta-inner {
    .lte-ie8 & {
      margin-top: 75px;
    }
  }

  .open-government-licence h2 {
    padding-top: 0;
  }
}
