$govuk-compatibility-govuktemplate: true;
$govuk-use-legacy-palette: false;

$govuk-images-path: "../build/node_modules/govuk-frontend/govuk/assets/images/";
$govuk-fonts-path: "../build/node_modules/govuk-frontend/govuk/assets/fonts/";

@import "govuk-frontend/govuk/all";

@import "common/variables";
@import "h5bp";

@import "common/mixins";
@import "common/containers";
@import "common/common";
@import "common/type";
@import "common/article";
@import "common/typography";
@import "common/forms";
@import "common/header";
@import "common/sidebar";
@import "common/footer";
@import "common/buttons";
@import "common/alerts";
@import "common/private-notice";

@import "partials/banner";

@import "partials/comments";
@import "partials/featured";
@import "partials/subpages";
@import "partials/pagination";
@import "partials/better-click-to-tweet";
@import "partials/dxw-digest";

@import "partials/404";

@import "partials/homepage";

@import "print";
