.alert {
  display: inline-block;
  padding: $gutterHalf;
  margin-bottom: $gutterHalf;
  border: 4px solid $govuk-focus-colour;
  text-shadow: none;
  color: $black;
  @media (max-width: $mobileMaxWidth) {
    display: block;
  }
}
