.button {
  background-color: $buttonColour;
  position: relative;
  display: inline-block;
  padding: $spacingSmall*2 $gutterHalf $spacingSmall $gutterHalf;
  border: none;
  @include border-radius(0px);
  -webkit-appearance: none;
  @include box-shadow(0 2px 0 $buttonBorder);
  @include govuk-font(19);
  text-decoration: none;
  cursor: pointer;
  color: $white;
  @include box-sizing(border-box);
  vertical-align: top;

  &:hover, &:focus {
    background-color: $buttonHover;
  }
}

.btn,
.btn:visited {
  display: inline;
  border: none;
  text-decoration: none;
  position: relative;
  @include govuk-font(14);
  padding: 8px 16px;
  cursor: pointer;
  background-image: none;
  text-shadow: none;
  box-shadow: none;
}

.btn-secondary,
.btn,
.btn:visited {
  background-color: $blueDark;
  color: govuk-colour("white");
  @include border-radius(0px);
  font-weight: 400;
  overflow: visible;
  -webkit-font-smoothing: antialiased;
}

.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary-active,
.btn:active,
.btn:focus,
.btn-active{
  background-color: darken($blueDark, 10%);
}

.btn-secondary .btn:hover,
.btn-secondary .btn-hover,
.btn:hover,
.btn-hover {
  background-color: darken($blueDark, 10%);
}

.btn:active,
.btn-active {
  top: 0px;
  box-shadow:none;
  outline:none;
}

/* 
 * making a click target which is bigger than the btn 
 * (and fills the space made when the btn moves) 
 */
.btn:before {
  content: "";
  height: 110%;
  width: 100%;
  display: block;
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
}

.btn:active:before {
  top: -10%;
  height: 120%;
}

a.btn[rel="external"]:after {
  display: none;
  content: none;
  margin-left: 0;
  margin-right: 0;
}

input{
  &[disabled="disabled"] {
    opacity: 0.5;
  }

  &[type="text"],
  &[type="search"]{

  }
}

#commentform {
  input[type="submit"] {
    margin-top: 10px;
    @media (max-width: $mobileMaxWidth) {
      width: 100%;
    }
  }
  input[type="text"],
  input[type="email"],
  input[type="url"] {
    @media (max-width: $mobileMaxWidth) {
      width: 97%;
    }
    @media (max-width: $mobileSmallWidth) {
      width: 96%;
    }
  }
}

.page-numbers-container {
  border-top: $greyTopBorder;
  margin-top: 0px;
  padding-top: $gutter;
  overflow: hidden;
  padding-bottom: 4px;

  .next,
  .previous {
    @include box-sizing(border-box);

    a {
      display: block;
      background-repeat: no-repeat;
      background-size: 17px 14px;
    }
  }

  .next {
    float: right;
    text-align: right;
    a {
      padding-right: $gutter;
      background-image: url('../assets/img/arrow-pagination-right.svg');
      background-position: 100% 4px;

      .lt-ie11 &,
      .lte-ie8 & {
        background-image: url('../assets/img/arrow-pagination-right.png');
      }
    }
  }

  .previous {
    float: left;
    text-align: left;
    a {
      padding-left: $gutter;
      background-image: url('../assets/img/arrow-pagination-left.svg');
      background-position: 0 4px;

      .lte-ie11 &,
      .lte-ie8 & {
        background-image: url('../assets/img/arrow-pagination-left.png');
      }
    }
  }
}

.page-navigation {
  .previous, .next {
    width: 49%;
    @media (max-width: $mobileSmallWidth) {
      width: 100%;
    }
  }

  .previous {
    margin-right: 2%;
    @media (max-width: $mobileSmallWidth) {
      margin-right: 0;
      margin-bottom: $gutterHalf;
    }
  }
}
