.error404 {

  .bar {
    border-top: 10px solid $red;
  }

  .main-content {
    margin-top: 0px;
    margin-bottom: $gutter;

    hr {
      margin-top: 0;
      margin-bottom: $gutter;
    }

    .form-search {
      width: 100%;
      display: inline-block;
    }
  }
} 
