#user-satisfaction-survey {
  /**
   * Hidden by default as we only want to show it to users who have
   * JavaScript enabled.
   */
  display: none;
  background-color: $govuk-link-hover-colour;
  padding: 0.8em 0;
  color: $white;

  &.visible {
    @media(desktop) {
      display: block;
    }
  }

  .grid-row {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  p {
    margin: 0 0 10px 20px;
    color: $white;

    a {
      &:link,
      &:active,
      &:visited {
        color: $white;
        text-decoration: underline;
      }

      &:hover {
        color: $white;
      }
    }
  }
}
