form#commentform {

  label[for="email"] {
    padding-bottom: 0;
  }

  textarea {
    width: 100%;
  }

  input[type="text"],
  input[type="email"] {
    width: 50%;

    @media (max-width: $mobileMaxWidth) {
      padding: 15px;
      width: 100%;
    }
  }

  input[type="submit"] {
    margin-top: 0;
    margin-bottom: $gutter;
  }
}

.bypostauthor {

  ul {
    .comment-body {
      background: $white;
      padding: 0px;
    }
  }
}

.comments, .leave-a-comment {
  p.cancel-comment-reply {
    margin: 0;
    padding: 0;
  }
}

.comments {

  ol {
    padding-left: 0;
  }

  .media-body {

    a {
      text-decoration: underline;
    }
  }

  .media-heading {
    @include font-size(16px, 16px);
    @include line-height(20 / 16, 20 / 16);
    margin-bottom: $gutterHalf;

    .author {
      @include font-size(19px, 19px);
      @include line-height(25 / 19, 25 / 19);
      font-weight: 700;

      a {
        color: $black;
        text-decoration: none;
      }
    }

    time {
      color: $greyText;
    }
  }

  ul.comment {
    margin: 0;
  }

  li.comment {
    margin: 20px 0px;
    list-style: none;

    &:last-child {
      margin-bottom: 0;
    }

    p:last-child {
      margin-bottom: 0px;
    }
  }

  li.comment li.comment {
    padding-left: 20px;
    border-left: 4px solid #231f20;
    list-style-image: none;
  }

  .comment-link,
  .comment-reply-link {
    @include font-size(16px, 16px);
    @include line-height(20 / 16, 20 / 16);
  }

  .comment-link {
    margin-bottom: 15px;
  }
}

p.media-heading {
  time {
    color: $greyLight;
  }
}

.media-list {
  margin-top: 0;
  margin-bottom: 25px;
}

input:focus:invalid:focus,
textarea:focus:invalid:focus,
select:focus:invalid:focus {
  border-color: #66Afe9;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
  outline: 0 none;
  color: #555;
}
