form#commentform {

  label[for="email"] {
    padding-bottom: 0;
  }

  textarea {
    width: 100%;
  }

  input[type="text"],
  input[type="email"] {
    width: 50%;

<<<<<<< HEAD:assets/css/partials/comments.scss
    @media (max-width: $mobileMaxWidth) {
      padding: 15px;
=======
    @media (max-width: @mobileMaxWidth) {
      width: 100%;
>>>>>>> Card 212 - comment form styles:assets/css/comments.less
    }
  }

  input[type="submit"] {
    margin-top: 0;
    margin-bottom: @gutter;
  }
}

.bypostauthor {

  ul {
    .comment-body {
      background: @white;
      padding: 0px;
    }
  }
}

.comments, .leave-a-comment {
  p.cancel-comment-reply {
    margin: 0;
    padding: 0;
  }
}

.comments {
  .media-body {
    @include font-size(16px, 16px);
    @include line-height(20 / 16, 20 / 16);
  }

  .media-heading {
<<<<<<< HEAD:assets/css/partials/comments.scss
    @include font-size(16px, 16px);
    @include line-height(20 / 16, 20 / 16);

    .author {
      @include font-size(19px, 19px);
      @include line-height(25 / 19, 25 / 19);
=======
    margin-bottom: @gutterHalf;
    .font-size(16px, 16px);
    .line-height(20 / 16, 20 / 16);

    .author {
      font-weight: 700;
    }

    time {
      color: @greyText;
>>>>>>> Card 212 - comment form styles:assets/css/comments.less
    }
  }

  ul.comment {
    margin: 0;
  }

  li.comment {
    margin: 20px 0px;

    &:last-child {
      margin-bottom: 0;
    }

    p:last-child {
      margin-bottom: 0px;
    }
  }

  li.comment li.comment {
    padding-left: 20px;
    border-left: 4px solid #231f20;
    list-style-image: none;
  }

  .comment-reply-link,
  .comment-link {
    display: block;
  }

  .comment-link {
    margin-bottom: 15px;
    color: $greyText;
    &:before {
      @include icomoon($icon-link);
      text-decoration: none;
    }

    &:hover {
      &:before {
        text-decoration: none;
      }
    }

    .lte-ie8 & {
      padding-left: 25px;
      background: url('../assets/img/icon-link.png') no-repeat;
      &:before {
        display: none;
      }
    }
  }
}

<<<<<<< HEAD:assets/css/partials/comments.scss
p.media-heading {
  time {
    color: $greyLight;
  }
}

=======
>>>>>>> Card 212 - comment form styles:assets/css/comments.less
.media-list {
  margin-top: 0;
  margin-bottom: 25px;
}
<<<<<<< HEAD:assets/css/partials/comments.scss

input:focus:invalid:focus,
textarea:focus:invalid:focus,
select:focus:invalid:focus {
  border-color: #66Afe9;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
  outline: 0 none;
  color: #555;
}
=======
>>>>>>> Card 212 - comment form styles:assets/css/comments.less
