.dxw-subscription input[type="submit"] {
  @include govuk-button;
}

.dxw-subscription.dxw-subscription-option input[type="submit"] {
  display: block;
  float: left;
  clear: left;
  margin-top: 20px;
}

// radio buttons based on govuk prototyping kit .fieldset - equivalent of .multiple-choice
.dxw-subscription .fieldset {
  display: block;
  float: left;
  clear: left;
  position: relative;
  padding: 0 0 0 38px;
  margin-bottom: 10px;
  @include govuk-font(19);

  .subscribed-categories {
    margin-left: 0;

    .fieldset:last-child {
      margin-bottom: 10px;
    }
  }

  input {
    cursor: pointer;

    // IE8 doesn’t support pseudoelements, so we don’t want to hide native elements there.
    @if ($is-ie == false) or ($ie-version == 9) {
      margin: 0;
      @include opacity(0);
    }
  }

  label {
    font-weight: normal;
    cursor: pointer;
    // reset label margin from the plugin
    margin-left: 0;
    // apply spacing from govuk
    padding: 8px 10px 9px 12px;
    display: block;

    // remove 300ms pause on mobile
    -ms-touch-action: manipulation;
    touch-action: manipulation;
  }

  input[type="radio"],
  input[type="checkbox"] {
    position: absolute;
    left: 0;
    top: 0;
    width: 38px;
    height: 38px;
    z-index: 1;
    margin: 0;
    zoom: 1;
  }
}

.dxw-subscription .fieldset {
  input[type="radio"] + label::before {
    content: "";
    border: 2px solid;
    background: transparent;
    width: 34px;
    height: 34px;
    position: absolute;
    top: 0;
    left: 0;
    @include border-radius(50%);
  }

  input[type=radio] + label::after {
    content: "";
    border: 10px solid;
    width: 0;
    height: 0;
    position: absolute;
    top: 9px;
    left: 9px;
    @include border-radius(50%);
    @include opacity(0);
  }

  input[type=checkbox] + label::before {
    content: "";
    border: 2px solid;
    background: transparent;
    width: 34px;
    height: 34px;
    position: absolute;
    top: 0;
    left: 0;
  }

  input[type=checkbox] + label::after {
    content: "";
    border: solid;
    border-width: 0 0 5px 5px;
    background: transparent;
    width: 17px;
    height: 7px;
    position: absolute;
    top: 10px;
    left: 8px;
    @include transform(rotate(-45deg));
    @include opacity(0);
  }

  // Focused state
  [type=radio]:focus + label::before {
    @include box-shadow(0 0 0 4px $focus-colour);
  }

  [type=checkbox]:focus + label::before {
    @include box-shadow(0 0 0 3px $focus-colour);
  }

  // Selected state
  input:checked + label::after {
    @include opacity(1);
  }

  // Disabled state
  input:disabled + label {
    @include opacity(0.5);
  }

  &:last-child,
  &:last-of-type {
    margin-bottom: 0;
  }
}

.dxw-subscription {
    .inset-text {
    font-family: "nta",Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    @include govuk-font(16);
    color: #0b0c0c;
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    clear: both;
    border-left: 10px solid #bfc1c3;
        &:first-child {
            margin-top: 0
        }        
    }

    @media print {
        .inset-text {
            font-family: sans-serif;
            @include govuk-font(14);
            color: #000;
        }
    }

    @media (min-width: 40.0625em) {
        .inset-text {
          @include govuk-font(19);
            margin-top:30px;
            margin-bottom:30px;
        }
    }
    .inset-text :only-child,.govuk-inset-text :last-child {
        margin-bottom: 0
    }
}
