.has-background {
	box-sizing: border-box;
	color: var(--wp--preset--color-black);
}

$with-light-text-colour: (
 "black",
 "blue",
 "dark-grey",
 "green",
);

@each $colour in $with-light-text-colour {
	.has-#{$colour}-background-color {
		color: var(--wp--preset--color--white);
	}
}
