.wp-block-freeform.block-library-rich-text__tinymce {
	p,
	li {
		@include govuk-font(19);
	}

	ul {
		@extend %govuk-list;
		@extend %govuk-list--bullet;
	}

	ol {
		@extend %govuk-list;
		@extend %govuk-list--number;
	}

	blockquote {
		margin-top: 20px;
  		margin-bottom: 20px;
  		border-left: 10px solid #b1b4b6;
	}
}

.wp-block-freeform.block-library-rich-text__tinymce dl.wp-caption .wp-caption-dd { // specificity match for WP styles
	@extend figcaption;
	padding: 0;
}
