body {
  font-family: 'nta', 'helvetica', 'arial';

  overflow-wrap: break-word;
  word-wrap: break-word;

  @media (max-width: $mobileMaxWidth) {
    padding-right: 0;
    padding-left: 0;
  }
}

.no-js .hide-if-no-js {
  display: none;
}

.clear {
  clear: both;
}

.visible-desktop {
  display: block !important;
  visibility: visible !important;
  @media screen and (max-width: $mobileMaxWidth) {
    display: none !important;
    visibility: hidden !important;
  }
}

.hidden-tablet {
  @media screen and (max-width: $tabletMaxWidth) {
    display: none !important;
    visibility: hidden !important;
  }
}

.visible-tablet {
  display: none;
  visibility: hidden;
  @media screen and (max-width: $tabletMaxWidth) {
    display: block !important;
    visibility: visible !important;
  }
}

.hidden-mobile {
  @media screen and (max-width: $mobileMaxWidth) {
    display: none !important;
    visibility: hidden !important;
  }
}

.visible-mobile {
  display: none;
  visibility: hidden;
  @media screen and (max-width: $mobileMaxWidth) {
    display: block !important;
    visibility: visible !important;
  }
}

.visible-print {
  display: none !important;
}

.full-width {
  @media (max-width: $mobileMaxWidth) {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.read-more {
  font-weight: 700;
}

article {
  word-wrap: break-word;

  header {

    .byline {
      @include font-size(16px, 16px);
      @include line-height(20 / 16, 20 / 16);
      margin-bottom: $gutterHalf;
    }

    .wp-post-image {
      margin-bottom: $gutterHalf;
    }
  }

  time {
    color: $greyText;
  }

  .footer {
    @include font-size(16px, 16px);
    @include line-height(20 / 16, 20 / 16);

    &.single {
      margin-top: $gutter;
    }

    p.tags {
      margin-top: $gutter;
    }
  }
}

.entry-footer {

  ul {
    margin-bottom: 0;
    padding-left: 0;

    li {
      list-style: none;
      display: inline-block;
      @include font-size(16px, 16px);
      @include line-height(20 / 16, 20 / 16);

      .lte-ie8 & {
        float: left;
      }
    }
  }
}

.entry-summary, .entry-content, .page-content {
  margin: 0px 0px $gutterHalf 0px;
}

.entry-summary, .entry-content, .page-content, .main-content {

  // iframe container
  .entry-content-asset {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
    margin-bottom: 1.5em;
    &.twitter-embed {
      margin-bottom: 0;
      padding: 0;
      height: auto;
      overflow: visible;
    }
  }

  .instagram-embed {
    padding: 35px 0 0 0;
    height: auto;
  }

  iframe[src^="https://www.youtube.com/"],
  iframe[src^="https://w.soundcloud.com/"] {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  iframe[src^="http://www.bbc.co.uk/"] {
    width: 100%;
  }

  .storify {
    iframe {
      position: static;
    }
  }
}

iframe.coveritlive {
  width: 100%;
  max-width: 100%;
  height: 500px;
}

.googlemap, .tableau {
  margin-bottom: 1.5em;
  iframe {
    width: 100%;
  }
}

body.single .main-content article,
body.page .main-content article {
  border-bottom: none;
  padding-bottom: 0px;
}

img {
  max-width: 100%;
  height: auto;
}

.alignnone {
  display: block;
}

.alignright {
  float: right;
  margin: 0px 0px $gutterHalf $gutterHalf;
}

.alignleft {
  float: left;
  margin: 0px $gutterHalf $gutterHalf 0px;
}

.aligncenter {
  display: block;
  margin: 0 auto $gutter auto;
  clear: both;
}

.size-full {
  max-width: 100%;
  height: auto;
}

img {

  &.alignnone,
  &.alignright,
  &.alignleft,
  &.aligncenter,
  {
    border: solid 1px $borderColour;
  }
}

a:focus {
  img {
    border-color: $black;
    outline: 3px solid $black;
    -webkit-box-shadow: 0 0 0 6px $focusColour;
    box-shadow: 0 0 0 6px $focusColour;
  }
}

@media (max-width: 500px) {
  .alignleft,
  .alignright,
  .aligncenter {
    display: block;
    margin-left: 0;
    margin-right: 0;
    float: none;
  }
}

.page .main-content {

  // Allow ordered lists to have numbers
  ol {
    list-style-type: decimal;
  }
}
.page-template-templatesall-posts-php .main-content {
  border-top: none;
  padding-top: 0;
}

figure {
  max-width: 100%;
  margin: 0 0 $gutter 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

figcaption {
  margin-top: $gutterHalf;
  font-size: 14px;
  line-height: 20px;
}

figure.thumbnail {

  img {
    margin-bottom: 0;
    border: solid 1px $borderColour;
  }

  // WordPress sometimes adds <br> to the container with image and caption
  br {
    display: none;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  font-weight: 400;
  text-transform: none;
  padding-top: 7px;
  padding-top: 0.7rem;
  padding-bottom: 3px;
  padding-bottom: 0.3rem;
  margin-bottom: $gutter;
}

table th, table td {
  vertical-align: top;
  padding: 0.7em 0.5em 0.7em 1em;
  @media (max-width: $mobileSmallWidth) {
    padding-left: 0.5em;
  }
}

table tr:nth-child(even) td {
  background-color: #fff;
}

table td {
  background: #fafafa;
  border: dotted 1px #bbb;
}

table th {
  line-height: 1.25em;
  text-align: left;
  color: #000;
  font-weight: normal;
  background-color: #e1e8e8;
  border: solid 1px #bbb;
}

table td small {
  font-size: 1em;
}

.address {
  border-left: 1px solid #bfc1c3;
  padding-left: $gutterHalf;
  margin-bottom: 0.75em;
}

// Remove blue bar under header
#global-header-bar{
  display: none;
}

.footnotes {
  margin-bottom: $gutter;
  border-top: $greyTopBorder;
  padding-top: $gutterHalf;

  ul {
    li {
      .number {
        padding-right: $spacingSmall;
        font-weight: bold;
      }
    }
  }
}

sup {
  a.footnote {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

/* Search */

.form-search {
  width: 100%;
  position: relative;
  max-width: 350px;
  display: inline-block;
  margin-bottom: 0;

  @media (max-width: $mobileMaxWidth) {
    max-width: 99.5%;
  }

  .search-input-wrapper {
    width: 100%;
    display: inline-block;
    position: relative;
  }

  input.search-query {
    height: 40px;
    float: left;
    width: 86%;
    z-index: 10;

    @media (max-width: $tabletMaxWidth) {
      width: 84%;
    }

    @media (max-width: 869px) {
      width: 83%;
    }

    @media (max-width: 825px) {
      width: 82%;
    }

    @media (max-width: 786px) {
      width: 81%;
    }

    @media (max-width: $mobileMaxWidth) {
      width: 95%;
    }

    @media (max-width: $mobileSmallWidth) {
      width: 88%;
    }
  }

  input[type="submit"] {
    width: 40px;
    height: 40px;
    float: left;
    padding: 6px;
    background: $black url('../assets/img/search-button.png') no-repeat 2px 50%;
    text-indent: -5000px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    &:active, &:hover {
      background-color: lighten($black, 5%);
    }

    @media (max-width: $mobileMaxWidth) {
      position: absolute;
      right: 0;
    }

    @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
      background-size: 52.5px 35px;
      background-position: 115% 50%;
    }
  }
}

.avatar img {
  float: right;
}

.icons-buttons {
  margin: $gutter 0;

  ul {
    margin: 0;
    padding-left: 0;

    .lte-ie8 & {
      margin-left: 0;
    }
  }

  li {
    list-style: none;
    float: left;
    margin-right: 10px;
    margin-bottom: 0;

    @media (max-width: $mobileMaxWidth) {
      width: 50%;
      margin-right: 0;
      margin-bottom: $spacingSmall;
    }

    &:first-child {
      padding-left: 0;
    }
    a {
      @include icons;
      @include font-size(16px, 16px);
      @include line-height(20 / 16, 20 / 16);

      &.twitter {
        @include icon-twitter;
      }

      &.facebook {
        @include icon-facebook;
      }

      &.google {
        @include icon-googleplus;
      }

      &.linkedin {
        @include icon-linkedin;
      }

      &.email {
        @include icon-email;
      }

      &.feed {
        @include icon-rss;
      }
    }
  }
}

.subscribe {
  margin: 0;

  ul {

    .lte-ie8 & {
      margin-left: 0;
    }

    li {
      width: 50%;
      float: left;
      margin-right: 0;
      padding-left: 0;

      a {
        @include icons;
        line-height: 30px;
      }
    }
  }
}

.footer.single div.related-posts {
  background: #e1e8e8;
  padding: $gutterHalf $gutter;
  ul {
    margin-bottom: 0;
  }
}

// Fix a little bug with GOV.UK header in IE8
.lte-ie8 #logo {
  width: 100%;
}

// Hide screen reader text
.screen-reader-text{
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}
