// Grid and containers

.bar {
  border-top: 10px solid $blogColour;
  margin: 0 auto;

  @media screen and (max-width: $tabletMaxWidth) {
    margin: 0 $gutter;
  }

  @media screen and (max-width: $mobileMaxWidth) {
    margin: 0 $gutterHalf;
  }
}

#global-cookie-message {

  @media screen and (max-width: $mobileMaxWidth) and (min-width: 641px) {
    
    .inner-block {
      padding-left: $gutterHalf;
      padding-right: $gutterHalf;
    }
  }

  @media screen and (max-width: $mobileMaxWidth) {

    .full-width {
      margin: 0;
      padding: 0;
    }
  }
}

.container,
.navbar-static-top .container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
  max-width: 964px;
  margin: 0 auto;
  width: auto;

  @media screen and (max-width: $desktopSmallWidth) {
    margin: 0 $gutter;
    max-width: none;
  }

  @media screen and (max-width: $mobileMaxWidth) {
    margin: 0 $gutterHalf;
  }
}

.column-one-half,
.column-third,
.column-one-third,
.column-two-thirds, {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: 0;
  padding: 0 $gutterHalf;
}

.grid-row {
  margin: 0 -$gutterHalf;

  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

.span12 {
  width: 100%;
}

.column-two-thirds {
  width: 66.66666%;
  float: left;

  @media (max-width: $mobileMaxWidth) {
    width: 100%;
    float: none;
  }
}

.column-third, .column-one-third {
  width: 33.33333%;
  float: left;

  @media (max-width: $mobileMaxWidth) {
    width: 100%;
    float: none;
  }
}

/* Fix to increase the margin to the left of the sidebar */

@media (max-width: $mobileMaxWidth) {
  .sidebar-contain, .search-container {
    width: 100%;
    margin-left: 0px;
  }
}
