form {
  margin: 0 0 $gutter;
}

label {
  display: block;
  margin-bottom: 5px;
  @include govuk-font(14);
  font-weight: normal;
}

textarea,
select,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  font-family: "nta", Helvetica, Arial, sans-serif;
  height: auto;
  border-radius: 0;
  padding: $spacingSmall;
  border: 2px solid $black;
  margin-bottom: 10px;
  -webkit-appearance: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  @include govuk-font(19);
  color: $black;
  margin-bottom: 0;

  &:focus {
    outline: 3px solid $focusColour;
    outline-offset: 0;
    -webkit-box-shadow: inset 0 0 0 2px;
    box-shadow: inset 0 0 0 2px;
    border-color: $black;

    // WordPress adds invalid property to the comments form so I'm overwriting it below
    &:invalid:focus {
      color: $black;
      -webkit-box-shadow: inset 0 0 0 2px;
      box-shadow: inset 0 0 0 2px;
      border-color: $black;
    }
  }
}

select {
  -webkit-appearance: menulist;
  height: 40px;
}

.form-comments {

  textarea {
    width: 622px;

    @media (max-width: $mobileMaxWidth) {
      width: 100%;
    }
  }
}

label {
  margin-bottom: 0;
  padding-bottom: 2px;
  font-weight: 700;
  @include govuk-font(19);
}

.form-hint {
  display: block;
  padding-bottom: 2px;
  color: $greyText;
}

.form-group {
  margin-bottom: $gutter;

  @media (max-width: $mobileMaxWidth) {
    margin-bottom: $gutterHalf;
  }
}

// Widget Categories Dropdown With Submit
.widget_categories form {
  display: flex;

  select {
    margin-right: 5px;
  }

  input[type="submit"] {
    @include govuk-button;
  }
}
