form {
  margin: 0 0 $gutter;
}

label {
  display: block;
  margin-bottom: 5px;
  @include font-size(14px, 14px);
  @include line-height(20 / 14, 20 / 14);
  font-weight: normal;
}

textarea,
select,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  font-family: "nta", Helvetica, Arial, sans-serif;
  height: auto;
  border-radius: 0;
  padding: $spacingSmall;
  border: 2px solid $black;
  margin-bottom: 10px;
  -webkit-appearance: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  @include font-size(19px, 19px);
  @include line-height(25 / 19, 25 / 19);
  color: $black;

  &:focus {
    outline: 3px solid $focusColour;
    outline-offset: 0;
    box-shadow: none;
    border-color: $black;
  }
}

select {
  -webkit-appearance: menulist;
  height: 40px;
}

.form-comments {

  textarea {
    width: 622px;

    @media (max-width: $mobileMaxWidth) {
      width: 100%;
    }
  }
}

