// Mixins

$mobileSmallWidth:  370px;
$mobileMaxWidth:    767px;
$tabletMinWidth:    768px;
$tabletMaxWidth:    979px;
$desktopSmallWidth: 1020px;

$greyTopBorder: 1px solid govuk-colour("light-grey");
$yellow: govuk-colour("yellow");
$focus-colour: govuk-colour("yellow");

$is-ie: false !default;

@mixin font-size($d, $m) {
  font-size: $d;

  @media (max-width:$mobileMaxWidth) {
    font-size: $m;
  }
}

@mixin line-height($d, $m) {
  line-height: $d;

  @media (max-width: $mobileMaxWidth) {
    line-height: $m;
  }
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius:    $radius;
  border-radius:         $radius;
}

@mixin box-shadow($shadow) {
  -webkit-box-shadow: $shadow; // Chrome 4.0 to 9.0, Safari 3.1 to 5.0, Mobile Safari 3.2 to 4.3, Android Browser 2.1 to 3.0
  -moz-box-shadow:    $shadow; // Firefox 3.5 to 3.6
  box-shadow:         $shadow;
}

@mixin box-sizing($sizing) {
  -webkit-box-sizing: $sizing;
  -moz-box-sizing:    $sizing;
  box-sizing:         $sizing;
}

@mixin opacity($trans) {
  zoom: 1;
  filter: unquote('alpha(opacity=' + ($trans * 100) + ')'); // IE6 to IE8
  opacity: $trans;
}

@mixin icons {
  padding-left: 25px;
  background-repeat: no-repeat;
  background-size: 21px 21px;
}

@mixin menu-follow-us($h) {
  background-image: url(../assets/img/follow-sprite.png);
  background-position: left ($h * -21px);
  background-size: auto;
}

@mixin icon-blank {
  background-image: url('../assets/img/icon-blank.svg');
}

@mixin icon-email {
  background-image: url('../assets/img/icon-email.svg');
}

@mixin icon-facebook {
  background-image: url('../assets/img/icon-facebook.svg');
}

@mixin icon-flickr {
  background-image: url('../assets/img/icon-flickr.svg');
}

@mixin icon-foursquare {
  background-image: url('../assets/img/icon-foursquare.svg');
}

@mixin icon-googleplus {
  background-image: url('../assets/img/icon-google-plus.svg');
}

@mixin icon-instagram {
  background-image: url('../assets/img/icon-instagram.svg');
}

@mixin icon-linkedin {
  background-image: url('../assets/img/icon-linkedin.svg');
}

@mixin icon-pinterest {
  background-image: url('../assets/img/icon-pinterest.svg');
}

@mixin icon-rss {
  background-image: url('../assets/img/icon-rss.svg');
}

@mixin icon-twitter {
  background-image: url('../assets/img/icon-twitter.svg');
}

@mixin icon-youtube {
  background-image: url('../assets/img/icon-youtube.svg');
}

@mixin icon-podbean {
  background-image: url('../assets/img/icon-podbean.svg');
}

@mixin govuk-button {
  // add govuk button styles
  background-color: $buttonColour;
  position: relative;
  display: inline-block;
  padding: $spacingSmall*2 $gutterHalf $spacingSmall $gutterHalf;
  border: none;
  @include border-radius(0);
  -webkit-appearance: none;
  @include box-shadow(0 2px 0 $buttonBorder);
  @include govuk-font(19);
  text-decoration: none;
  cursor: pointer;
  color: $white;
  @include box-sizing(border-box);
  vertical-align: top;

  &:hover, &:focus {
    background-color: $buttonHover;
  }

  &:focus {
    outline: 3px solid govuk-colour("yellow");
    outline-offset: 0;
  }
}
