// Mixins

$mobileSmallWidth:  370px;
$mobileMaxWidth:    767px;
$tabletMinWidth:    768px;
$tabletMaxWidth:    979px;
$desktopSmallWidth: 1020px;

$greyTopBorder: 1px solid #bfc1c3;
$yellow: #ffbf47;
$focus-colour: $yellow;

$is-ie: false !default;

@mixin font-size($d, $m) {
  font-size: $d;

  @media (max-width:$mobileMaxWidth) {
    font-size: $m;
  }
}

@mixin line-height($d, $m) {
  line-height: $d;

  @media (max-width: $mobileMaxWidth) {
    line-height: $m;
  }
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius:    $radius;
  border-radius:         $radius;
}

@mixin box-shadow($shadow) {
  -webkit-box-shadow: $shadow; // Chrome 4.0 to 9.0, Safari 3.1 to 5.0, Mobile Safari 3.2 to 4.3, Android Browser 2.1 to 3.0
  -moz-box-shadow:    $shadow; // Firefox 3.5 to 3.6
  box-shadow:         $shadow;
}

@mixin opacity($trans) {
  zoom: 1;
  filter: unquote('alpha(opacity=' + ($trans * 100) + ')'); // IE6 to IE8
  opacity: $trans;
}

@mixin icons {
  padding-left: 25px;
  background-repeat: no-repeat;
  background-size: 21px 21px;
}

@mixin menu-follow-us($h) {
  background-image: url(../assets/img/follow-sprite.png);
  background-position: left ($h * -21px);
  background-size: auto;
}

@mixin icon-email {
  background-image: url('../assets/img/icon-email.svg');

  .lt-ie11 &,
  .lte-ie8 & {
    @include menu-follow-us(8);
  }
}

@mixin icon-facebook {
  background-image: url('../assets/img/icon-facebook.svg');

  .lt-ie11 &,
  .lte-ie8 & {
    @include menu-follow-us(0);
  }
}

@mixin icon-flickr {
  background-image: url('../assets/img/icon-flickr.svg');

  .lt-ie11 &,
  .lte-ie8 & {
    @include menu-follow-us(3);
  }
}

@mixin icon-foursquare {
  background-image: url('../assets/img/icon-foursquare.svg');

  .lt-ie11 &,
  .lte-ie8 & {
    @include menu-follow-us(7);
  }
}

@mixin icon-googleplus {
  background-image: url('../assets/img/icon-google-plus.svg');

  .lt-ie11 &,
  .lte-ie8 & {
    @include menu-follow-us(6);
  }
}

@mixin icon-instagram {
  background-image: url('../assets/img/icon-instagram.svg');

  .lt-ie11 &,
  .lte-ie8 & {
    @include menu-follow-us(9);
  }
}

@mixin icon-linkedin {
  background-image: url('../assets/img/icon-linkedin.svg');

  .lt-ie11 &,
  .lte-ie8 & {
    @include menu-follow-us(5);
  }
}

@mixin icon-pinterest {
  background-image: url('../assets/img/icon-pinterest.svg');

  .lt-ie11 &,
  .lte-ie8 & {
    @include menu-follow-us(4);
  }
}

@mixin icon-rss {
  background-image: url('../assets/img/icon-rss.svg');

  .lt-ie11 &,
  .lte-ie8 & {
    @include menu-follow-us(10);
  }
}

@mixin icon-twitter {
  background-image: url('../assets/img/icon-twitter.svg');

  .lt-ie11 &,
  .lte-ie8 & {
    @include menu-follow-us(1);
  }
}

@mixin icon-youtube {
  background-image: url('../assets/img/icon-youtube.svg');

  .lt-ie11 &,
  .lte-ie8 & {
    @include menu-follow-us(2);
  }
}
