.private-notice {
  background: govuk-colour("orange");
  padding: 50px 100px (50px-25px);
  border: 10px solid govuk-colour("red");
  @include govuk-font(24);
  margin-bottom: 40px;
  margin-top: -30px;
}
