.sidebar {
  
  .widget {
    margin-bottom: $gutter;
    border-top: 4px solid $black;

    h3 {
      margin-top: $gutterHalf;
      margin-bottom: $gutterHalf;
    }

    .textwidget {
      margin-bottom: $gutter;
    }
  }

  .widget_nav_menu {

    ul {
      margin: 0px 0px $gutter 0px;
      padding-left: 0;
    }

    li {
      list-style: none;
      margin: $spacingSmall 0px;
      padding-left: 0px;
    }
  }

  #menu-main-menu, .menu {
    li {
      margin: 0;
    }
    a {
      display: block;
      padding: $spacingSmall * 2 0;
      border-bottom: $greyTopBorder;
    }
  }

  .about_widget {
    p {
      margin-bottom: $gutter / 2;
    }
  }

  .widget_categories {
    border: none;

    select {
      @include govuk-font(16);
      width: 100%;
    }

    ul {
      margin-bottom: $gutter;
    }
  }

  .widget_recent_entries,
  .widget_recent_comments {

    ul {
      padding-left: 0;
    }

    li {
      list-style: none;
      margin-bottom: $spacingSmall*2;

      &:last-child {
        margin-bottom: 0;
      }
    }

    span.post-date {
      color: $greyText;

      &:before {
        content: " ";
      }
    }
  }

  .widget_recent_entries {

    ul li {

      a {

        &:after {
          content: ",";
        }
      }
    }
  }

  #menu-follow-us {
    width: 100%;
    display: inline-block;
    margin-bottom: 0;

    li {
      margin: 7px 0;

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    a {
      padding: 0;
      border-bottom: none;
      vertical-align: middle;
      font-size: 16px;
      @include icons;

      // Fallback to a blank icon
      @include icon-blank;

      // Twitter
      &[href^="http://twitter.com/"],
      &[href^="http://www.twitter.com/"],
      &[href^="https://twitter.com/"],
      &[href^="https://www.twitter.com/"] {
        @include icon-twitter;
      }

      // Facebook
      &[href^="http://facebook.com/"],
      &[href^="http://www.facebook.com/"],
      &[href^="https://facebook.com/"],
      &[href^="https://www.facebook.com/"] {
        @include icon-facebook;
      }

      // YouTube
      &[href^="http://youtube.com/"],
      &[href^="http://www.youtube.com/"],
      &[href^="https://youtube.com/"],
      &[href^="https://www.youtube.com/"] {
        @include icon-youtube;
      }

      // Flickr
      &[href^="http://flickr.com/"],
      &[href^="http://www.flickr.com/"],
      &[href^="https://flickr.com/"],
      &[href^="https://www.flickr.com/"] {
        @include icon-flickr;
      }

      // Google +
      &[href^="http://plus.google.com/"],
      &[href^="https://plus.google.com/"] {
        @include icon-googleplus;
      }

      // Foursquare
      &[href^="http://foursquare.com/"],
      &[href^="http://www.foursquare.com/"],
      &[href^="https://foursquare.com/"],
      &[href^="https://www.foursquare.com/"] {
        @include icon-foursquare;
      }

      // LinkedIn
      &[href^="http://linkedin.com/"],
      &[href^="http://www.linkedin.com/"],
      &[href^="https://linkedin.com/"],
      &[href^="https://www.linkedin.com/"] {
        @include icon-linkedin;
      }

      // Pinterest
      &[href^="http://pinterest.com/"],
      &[href^="http://www.pinterest.com/"],
      &[href^="https://pinterest.com/"],
      &[href^="https://www.pinterest.com/"],
      &[href^="http://uk.pinterest.com/"],
      &[href^="https://uk.pinterest.com/"] {
        @include icon-pinterest;
      }

      // Instagram
      &[href^="http://instagram.com/"],
      &[href^="http://www.instagram.com/"],
      &[href^="https://instagram.com/"],
      &[href^="https://www.instagram.com/"] {
        @include icon-instagram;
      }

      // Email
      &[href^="mailto:"] {
        @include icon-email;
      }

      // Email
      &[href*=".podbean.com/"] {
        @include icon-podbean;
      }
    }
  }
}
