html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: "nta", Helvetica, Arial, sans-serif;
  @include font-size(19px, 19px);
  @include line-height(25 / 19, 25 / 19);
  font-weight: 400;
  text-transform: none;
  color: $black;
}

p {
  margin: $spacingSmall 0 $gutter 0;
}

blockquote {
  padding: $gutterHalf;
  margin: 0 0 $gutter 0;
  border: 0;
  background-color: #e1e8e8;

  p {
    padding: 0 $spacingSmall * 4;
    @include font-size(19px, 19px);
    @include line-height(25 / 19, 25 / 19);
  }

  &:before {
    content: "\201C";
    display: inline-block;
    float: left;
    font-size: 40px;
    font-size: 4rem;
  }

  &:after {
    content: "\201D";
    display: inline-block;
    float: right;
    font-size: 40px;
    font-size: 4rem;
    margin-top: -20px;
  }

  &.noquotes {
    &:before {
      content:"";
    }

    &:after {
      content:"";
    }

    p {
      padding-left: 10px;
    }
  }

}

cite {
  color: $greyText;
  font-style: normal;
  position: relative;
  font-size: 18px;
  font-size: 1.8rem;
  top: -10px;
}

a, a:visited {
  color: #2e3191;
}

a:hover {
  text-decoration: underline;
  color: #2e3191;
}

a:focus {
  background: $focusColour;
  outline: 3px solid $focusColour;
  outline-offset: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

h1 {
  margin-top: 1.25em;
  margin-bottom: 0.625em;
  @include font-size(48px, 36px);
  @include line-height(50 / 48, 35 / 32);

  @media (max-width: $mobileMaxWidth) {
    margin-top: 0.46875em;
    margin-bottom: 0.9375em;
  }
}

h2 {
  margin-top: 1.25em;
  margin-bottom: 0.5555555556em;
  @include font-size(36px, 30px);
  @include line-height(40 / 36, 25 / 24);

  @media (max-width: $mobileMaxWidth) {
    margin-top: 1.0416666667em;
    margin-bottom: 0.4166666667em;
  }
}

h3 {
  margin-top: 1.875em;
  margin-bottom: 0.8333333333em;
  @include font-size(24px, 24px);
  @include line-height(30 / 24, 30 / 24);

  @media (max-width: $mobileMaxWidth) {
    margin-top: 1.25em;
    margin-bottom: 0.5em;
  }
}

h4 {
  margin-top: 1.0526315789em;
  margin-bottom: 0.3125em;
  @include font-size(19px, 19px);
  @include line-height(25 / 19, 25 / 19);

  @media (max-width: $mobileMaxWidth) {
    margin-top: 0.625em;
  }
}


h5, h6 {
  margin-top: 0.2631578947em;
  margin-bottom: 1.0526315789em;
  @include font-size(16px, 16px);
  @include line-height(20 / 16, 20 / 16);
}

ul {
  margin: $spacingSmall 0 $gutter 0;
  clear: both;
  padding-left: 20px;
  list-style: disc;
}

ol {
  margin: $spacingSmall 0 $gutter 0;
  list-style: decimal;
  padding-left: 20px;
}

li {
  @include font-size(19px, 19px);
  @include line-height(25 / 19, 25 / 19);
}

ul.children {
  margin-top: 0;
}

.entry-content a, .page-content a {
  text-decoration: underline;

  &:hover {
    color: #2e8aca;
  }
}

.entry-content-asset {
  padding: $gutter 0 $gutterHalf;
}
