h5, h6 {
  margin-top: 0.2631578947em;
  margin-bottom: 1.0526315789em;
}


blockquote {
  margin: 0 0 $gutter 0;

  p {
    padding-left: $gutter;
    margin-bottom: $gutterHalf;

    &:last-of-type {
      margin-bottom: 0;

      &:after {
        content: "\201D";
      }
    }

    &:first-child {

      &:before {
        content: "\201C";
        float: left;
        clear: both;
        margin-left: -$gutterHalf;
      }
    }
  }

  &.noquotes {
    padding: $gutterHalf;
    background-color: #e1e8e8;

    p {
      padding-left: 0;

      &:last-of-type {

        &:after {
          content: "";
        }
      }

      &:before {
        content: "";
      }
    }
  }

}

div.highlight {
  margin: 0 0 $gutter 0;
  padding: $gutterHalf;
  background-color: #e1e8e8;

  p {
    margin-bottom: $gutterHalf;
    padding-left: 0;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

cite {
  color: $greyText;
  font-style: normal;
  position: relative;
  font-size: 18px;
  font-size: 1.8rem;
  top: -10px;
}

a, a:visited {
  color: #4c2c92;
}

a:hover {
  color: #003078;
}

a:focus {
  color: $black;
  outline-offset: 0;
  outline: 3px solid transparent;
  background-color: $focusColour;
  -webkit-box-shadow: 0 -2px $focusColour, 0 4px $black;
  box-shadow: 0 -2px $focusColour, 0 4px $black;
  text-decoration: none;
}

a:link:focus {
  color: $black;
}


.entry-content a, .page-content a {
  text-decoration: underline;

  &:hover {
    color: #2e8aca;
  }

  &:focus {
    text-decoration: none;
  }
}

.entry-content-asset {
  padding: $gutter 0 $gutterHalf;
}

::placeholder {
  color: $placeHolderColour;
}
