html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: "nta", Helvetica, Arial, sans-serif;
  @include font-size(19px, 19px);
  @include line-height(25 / 19, 25 / 19);
  font-weight: 400;
  text-transform: none;
  color: $black;
}

p {
  margin: $spacingSmall 0 $gutter 0;
}

blockquote {
  margin: 0 0 $gutter 0;

  p {
    padding-left: $gutter;
    margin-bottom: $gutterHalf;

    &:last-of-type {
      margin-bottom: 0;

      &:after {
        content: "\201D";
      }
    }

    &:first-child {

      &:before {
        content: "\201C";
        float: left;
        clear: both;
        margin-left: -$gutterHalf;
      }
    }
  }

  &.noquotes {
    padding: $gutterHalf;
    background-color: #e1e8e8;

    p {
      padding-left: 0;

      &:last-of-type {

        &:after {
          content: "";
        }
      }

      &:before {
        content: "";
      }
    }
  }

}

div.highlight {
  margin: 0 0 $gutter 0;
  padding: $gutterHalf;
  background-color: #e1e8e8;

  p {
    margin-bottom: $gutterHalf;
    padding-left: 0;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

cite {
  color: $greyText;
  font-style: normal;
  position: relative;
  font-size: 18px;
  font-size: 1.8rem;
  top: -10px;
}

a, a:visited {
  color: #4c2c92;
}

a:hover {
  color: #003078;
}

a:focus {
  color: $black;
  outline-offset: 0;
  outline: 3px solid transparent;
  background-color: $focusColour;
  -webkit-box-shadow: 0 -2px $focusColour, 0 4px $black;
  box-shadow: 0 -2px $focusColour, 0 4px $black;
  text-decoration: none;
}

a:link:focus {
  color: $black;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

h1 {
  margin-top: 1.25em;
  margin-bottom: 0.625em;
  @include font-size(48px, 36px);
  @include line-height(50 / 48, 35 / 32);

  @media (max-width: $mobileMaxWidth) {
    margin-top: 0.46875em;
    margin-bottom: 0.9375em;
  }
}

h2 {
  margin-top: 1.25em;
  margin-bottom: 0.5555555556em;
  @include font-size(36px, 30px);
  @include line-height(40 / 36, 25 / 24);

  @media (max-width: $mobileMaxWidth) {
    margin-top: 1.0416666667em;
    margin-bottom: 0.4166666667em;
  }
}

h3 {
  margin-top: 1.875em;
  margin-bottom: 0.8333333333em;
  @include font-size(24px, 24px);
  @include line-height(30 / 24, 30 / 24);

  @media (max-width: $mobileMaxWidth) {
    margin-top: 1.25em;
    margin-bottom: 0.5em;
  }
}

h4 {
  margin-top: 1.0526315789em;
  margin-bottom: 0.3125em;
  @include font-size(19px, 19px);
  @include line-height(25 / 19, 25 / 19);

  @media (max-width: $mobileMaxWidth) {
    margin-top: 0.625em;
  }
}


h5, h6 {
  margin-top: 0.2631578947em;
  margin-bottom: 1.0526315789em;
  @include font-size(16px, 16px);
  @include line-height(20 / 16, 20 / 16);
}

ul {
  margin: $spacingSmall 0 $gutter 0;
  clear: both;
  padding-left: 20px;
  list-style: disc;

  &.list-inline {
    list-style: none;
    padding-left: 0;
    li {
      display: inline-block;
    }
  }
}

ol {
  margin: $spacingSmall 0 $gutter 0;
  list-style: decimal;
  padding-left: 20px;
}

ul.children {
  margin-top: 0;
}

.entry-content a, .page-content a {
  text-decoration: underline;

  &:hover {
    color: #2e8aca;
  }

  &:focus {
    text-decoration: none;
  }
}

.entry-content-asset {
  padding: $gutter 0 $gutterHalf;
}

::placeholder {
  color: $placeHolderColour;
}
